* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
  }
  
  /* HEADINGS */
  
  h1, p {
    color: #fff;
    text-align: center;
    line-height: 1.4;
  }
  
  h1 {
    font-size: 2.2rem;
  }
  
  h2 {
    color: #000;
    font-size: 1.3rem;
    text-align: center;
    line-height: 1.4;
    margin-bottom: 10px;
  }
  
  /* BASIC SETUP */
  
  .page-wrapper {
    width: 100%;
    height: auto;
    background-color: #fdd749;
  }
  .page-wrapper:hover{
    background-color: #fff;
  }
  .nav-wrapper {
    width: 100%;
    position: -webkit-sticky; /* Safari */
    /* position: sticky; */
    top: 0;
    background-color: #343a40;
  }
  
  .grad-bar {
    width: 100%;
    height: 5px;
    background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
    background-size: 400% 400%;
        -webkit-animation: gradbar 15s ease infinite;
      -moz-animation: gradbar 15s ease infinite;
      animation: gradbar 15s ease infinite;
  }
  
  /* NAVIGATION */
  
  .navbar {
    /* display: grid; */
    grid-template-columns: 1fr 3fr;
    align-items: center;
    /* height: 50px; */
    overflow: hidden;
    background-color: #eef5ff;
    font-family: 'Rubik', sans-serif;
  }
  .scrool{
    background-color: #343a40;
  }
  .navbar img {
    height: 40px;
    width: auto;
    justify-self: start;
    margin-left: 20px;
  }
  
  .navbar ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    justify-self: end;
    width: 60%;
    text-align: center;
  }
  
  .nav-item a {
    color: #132047;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    transition: color 0.3s ease-out;
  }
  @media screen and (max-width: 1350px){
    .navbar ul{
      width: 55%;
  }
}
  @media screen and (max-width: 1100px){
    .nav-item a{
    font-size: 16px;
  }
}
@media screen and (max-width: 900px){
  .nav-item a{
    font-size: 13px;
  }
}
@media screen and (max-width: 800px){
  .nav-item a{
    font-size: 12px;
  }
}
 /* .nav-item a:hover {
    color: #3498db;
  }  */
  
  /* SECTIONS */
  
  .headline {
    width: 100%;
    height: 50vh;
    min-height: 350px;
    background: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.7)), url('https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/jPLiQ-9/mountains-background-for-titles-intro-projects-and-etc_ew22rur3l__F0000.png');
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .features {
    width: 100%;
    height: auto;
    background-color: #f1f1f1;
    display: flex;
    padding: 50px 20px;
    justify-content: space-around;
  }
  
  .feature-container {
    flex-basis: 30%;
    margin-top: 10px;
  }
  
  .feature-container p {
    color: #000;
    text-align: center;
    line-height: 1.4;
    margin-bottom: 15px;
  }
  
  .feature-container img {
    width: 100%;
    margin-bottom: 15px;
  }
  
  /* SEARCH FUNCTION */
  
  #search-icon {
    font-size: 0.9rem;
    margin-top: 3px;
    margin-left: 15px;
    transition: color 0.3s ease-out;
  }
  
  #search-icon:hover {
    color: #3498db;
    cursor: pointer;
  }
  
  .search {
    transform: translate(-35%);
    -webkit-transform: translate(-35%);
    transition: transform 0.7s ease-in-out;
    color: #3498db;
  }
  
  .no-search {
    transform: translate(0);
    transition: transform 0.7s ease-in-out;
  }
  
  /* .search-input {
    position: absolute;
    top: -4px;
    right: -125px;
    opacity: 0;
    z-index: -1;
    transition: opacity 0.6s ease;
  }
  
  .search-active {
    opacity: 1;
    z-index: 0;
  } */
  
  input {
    border: 0;
    border-left: 1px solid #ccc;
    border-radius: 0; /* FOR SAFARI */
    outline: 0;
    padding: 5px;
  }
  
  /* MOBILE MENU & ANIMATION */
  
  .menu-toggle .bar{
    width: 25px;
    height: 3px;
    background-color: #3f3f3f;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  
  .menu-toggle {
    justify-self: end;
    margin-right: 25px;
    display: none;
  }
  
  .menu-toggle:hover{
    cursor: pointer;
  }
  
  #mobile-menu.is-active .bar:nth-child(2){
    opacity: 0;
  }
  
  #mobile-menu.is-active .bar:nth-child(1){
    -webkit-transform: translateY(8px) rotate(45deg);
    -ms-transform: translateY(8px) rotate(45deg);
    -o-transform: translateY(8px) rotate(45deg);
    transform: translateY(8px) rotate(45deg);
  }
  
  #mobile-menu.is-active .bar:nth-child(3){
    -webkit-transform: translateY(-8px) rotate(-45deg);
    -ms-transform: translateY(-8px) rotate(-45deg);
    -o-transform: translateY(-8px) rotate(-45deg);
    transform: translateY(-8px) rotate(-45deg);
  }
  .padLeft{
    padding-left: 100px;
  }
  @media screen and (max-width: 1000px){
    .padLeft{
    padding-left: 50px;
  }
  }
  @media screen and (max-width: 770px){
    .padLeft{
    padding-left: 0px;
  }
  }
 
  .videoPar{
    color: #1e223d;
    margin-top: 5%;
    font-size: 24px;
    line-height:46px;
    padding-left: 90px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    text-align: left;
  }
  @media screen and (max-width: 650px){
    .videoPar{
      font-size: 20px;
      padding-left: 0px;

  }
  }
  .videoCss{
      height: 400px;
  }
  @media screen and (max-width: 650px){
    .videoCss{
      height: 375px;
  }
  }
  @media screen and (max-width: 600px){
    .videoCss{
      height: 340px;
  }
  }
  @media screen and (max-width: 500px){
    .videoCss{
      height: 260px;
  }
  }
  @media screen and (max-width: 400px){
    .videoCss{
      height: 180px;
  }
  }
  @media screen and (max-width: 350px){
    .videoCss{
      height: 160px;
  }
  }
  .videoTag{
    background: #f0eef0;
    /* border-radius: 20px; */
    outline: none;
    /* position: relative; */
    background-color: #070605;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    /* margin: 0 auto 2rem; */
    padding:0px 25px;
    /* width: 620px; */
    /* max-width: calc(100% - 40px); */
  }
  img{
    max-width: 100%;
  }
  /* #Pricing{
    height:1000px;
  } */
  .headingFont{
    font-size: 30px;
    font-weight: 400;
  }
  @media only screen and (max-width: 770px){
    .headingFont{
    font-size: 20px;
    }
  }
  .chartHeading{
    padding-left: 30px;
  }
  @media only screen and (max-width: 770px){
    .chartHeading{
    font-size: 20px;
    }
  }
  @media only screen and (max-width: 400px){
    .chartHeading{
    font-size: 15px;
    }
  }
  .card{
    width: 330px;
  }
  @media only screen and (max-width: 770px){
    .card{
     width: auto;
    }
  }
  .card-text{
    color: #1e223d;
    font-size: 16px;
    line-height:2;
    height: 425px;
  }
  .card-header{
    text-align: center;
    font-size: 24px;
    color: #1e223d;
    font-weight: 500;
  }
  .card-subHeader{
    text-align: center;
    font-size: 18px;
    color: #1e223d;
    height: 70px;
    padding-top: 10px;
    font-weight: 500;
  }
  .priceHeading{
    padding-top: 80px;
    margin: auto;
    text-align: center;
    color: #363945;
  }
  @media screen and (max-width: 720px){
    .priceHeading{
      font-size: 35px;
    }
  }
  .pricingStyle{
    /* background-color: #3ea9f51a; */
    /* background-image: url(/photos/bg.svg); */
    /* height: 700px; */
    /* background-color: #ffffff; */
    /* background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2000 1500'%3E%3Cdefs%3E%3Crect stroke='%23ffffff' stroke-width='.5' width='1' height='1' id='s'/%3E%3Cpattern id='a' width='3' height='3' patternUnits='userSpaceOnUse' patternTransform='scale(50) translate(-980 -735)'%3E%3Cuse fill='%23fafafa' href='%23s' y='2'/%3E%3Cuse fill='%23fafafa' href='%23s' x='1' y='2'/%3E%3Cuse fill='%23f5f5f5' href='%23s' x='2' y='2'/%3E%3Cuse fill='%23f5f5f5' href='%23s'/%3E%3Cuse fill='%23f0f0f0' href='%23s' x='2'/%3E%3Cuse fill='%23f0f0f0' href='%23s' x='1' y='1'/%3E%3C/pattern%3E%3Cpattern id='b' width='7' height='11' patternUnits='userSpaceOnUse' patternTransform='scale(50) translate(-980 -735)'%3E%3Cg fill='%23ebebeb'%3E%3Cuse href='%23s'/%3E%3Cuse href='%23s' y='5' /%3E%3Cuse href='%23s' x='1' y='10'/%3E%3Cuse href='%23s' x='2' y='1'/%3E%3Cuse href='%23s' x='2' y='4'/%3E%3Cuse href='%23s' x='3' y='8'/%3E%3Cuse href='%23s' x='4' y='3'/%3E%3Cuse href='%23s' x='4' y='7'/%3E%3Cuse href='%23s' x='5' y='2'/%3E%3Cuse href='%23s' x='5' y='6'/%3E%3Cuse href='%23s' x='6' y='9'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='h' width='5' height='13' patternUnits='userSpaceOnUse' patternTransform='scale(50) translate(-980 -735)'%3E%3Cg fill='%23ebebeb'%3E%3Cuse href='%23s' y='5'/%3E%3Cuse href='%23s' y='8'/%3E%3Cuse href='%23s' x='1' y='1'/%3E%3Cuse href='%23s' x='1' y='9'/%3E%3Cuse href='%23s' x='1' y='12'/%3E%3Cuse href='%23s' x='2'/%3E%3Cuse href='%23s' x='2' y='4'/%3E%3Cuse href='%23s' x='3' y='2'/%3E%3Cuse href='%23s' x='3' y='6'/%3E%3Cuse href='%23s' x='3' y='11'/%3E%3Cuse href='%23s' x='4' y='3'/%3E%3Cuse href='%23s' x='4' y='7'/%3E%3Cuse href='%23s' x='4' y='10'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='c' width='17' height='13' patternUnits='userSpaceOnUse' patternTransform='scale(50) translate(-980 -735)'%3E%3Cg fill='%23e5e5e5'%3E%3Cuse href='%23s' y='11'/%3E%3Cuse href='%23s' x='2' y='9'/%3E%3Cuse href='%23s' x='5' y='12'/%3E%3Cuse href='%23s' x='9' y='4'/%3E%3Cuse href='%23s' x='12' y='1'/%3E%3Cuse href='%23s' x='16' y='6'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='d' width='19' height='17' patternUnits='userSpaceOnUse' patternTransform='scale(50) translate(-980 -735)'%3E%3Cg fill='%23ffffff'%3E%3Cuse href='%23s' y='9'/%3E%3Cuse href='%23s' x='16' y='5'/%3E%3Cuse href='%23s' x='14' y='2'/%3E%3Cuse href='%23s' x='11' y='11'/%3E%3Cuse href='%23s' x='6' y='14'/%3E%3C/g%3E%3Cg fill='%23e0e0e0'%3E%3Cuse href='%23s' x='3' y='13'/%3E%3Cuse href='%23s' x='9' y='7'/%3E%3Cuse href='%23s' x='13' y='10'/%3E%3Cuse href='%23s' x='15' y='4'/%3E%3Cuse href='%23s' x='18' y='1'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='e' width='47' height='53' patternUnits='userSpaceOnUse' patternTransform='scale(50) translate(-980 -735)'%3E%3Cg fill='%23e7ffbf'%3E%3Cuse href='%23s' x='2' y='5'/%3E%3Cuse href='%23s' x='16' y='38'/%3E%3Cuse href='%23s' x='46' y='42'/%3E%3Cuse href='%23s' x='29' y='20'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='f' width='59' height='71' patternUnits='userSpaceOnUse' patternTransform='scale(50) translate(-980 -735)'%3E%3Cg fill='%23e7ffbf'%3E%3Cuse href='%23s' x='33' y='13'/%3E%3Cuse href='%23s' x='27' y='54'/%3E%3Cuse href='%23s' x='55' y='55'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='g' width='139' height='97' patternUnits='userSpaceOnUse' patternTransform='scale(50) translate(-980 -735)'%3E%3Cg fill='%23e7ffbf'%3E%3Cuse href='%23s' x='11' y='8'/%3E%3Cuse href='%23s' x='51' y='13'/%3E%3Cuse href='%23s' x='17' y='73'/%3E%3Cuse href='%23s' x='99' y='57'/%3E%3C/g%3E%3C/pattern%3E%3C/defs%3E%3Crect fill='url(%23a)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23b)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23h)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23c)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23d)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23e)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23f)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23g)' width='100%25' height='100%25'/%3E%3C/svg%3E"); */
    background-attachment: fixed;
    background-size: cover;
    
  }
  .getStartBut{
    color: #2f70f8;
    font-size: 16px;
    border-bottom: 2px solid #2f70f8;
  }
  @media only screen and (max-width: 770px){
    .getStartBut{
    font-size: 13px;
    }
  }
  .getBut{
    width: 200px;
    padding: 5px;
    font-size: 20px;
    margin-left: auto;
  }
  @media only screen and (max-width: 770px){
    .getBut{
      width: 100px;
      padding: 5px;
      font-size: 16px;
    }
  }
  .modal-dialog{
    max-width:1000px;
  }
  .widthChange{
    padding: 0px;
    line-height: 1;
    text-align: left;
  }
  .questionTag{
    font-size: 16px;
    text-decoration: underline;
  }
  @media only screen and (max-width: 770px){
    .questionTag{
      font-size: 13px;
    }
  }
  .pricing-table-cnt-footer{
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    padding: 24px 40px;
  }
  .cardStyle{
    /* height: 500px; */
    padding-top: 80px;
  }
  .anim-trigger{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 300px;
    position: relative;
    z-index: 10;
  }
  @media only screen and (max-width: 770px){
    .anim-trigger{
      width: auto;
      margin-bottom: 20px;
    }
  }
  .serviceCard{
    padding: 20px;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    cursor: pointer;
    border-radius: 5px;
}
.milkPoint{
    width:16px;
    height:16px;
    margin-right: 16px;
}
.serviceCardHover{
  box-shadow: 0px 0px 61px -2px rgba(0, 0, 0, 0.27);
  padding: 20px;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  cursor: pointer;
  border-radius: 5px;
}
.cardHeader{
    margin-bottom: 15px;
    display: flex;
}
.imageStyle{
    width: 50px;
}
.cardTitle{
    font-size: 17px;
    margin: 0 0 0 20px;
    color: #1e223d;
}
.upfrontCharge{
  padding: 5px 40px;
}
.onetime{
  margin-bottom: 0px;
  padding: 10px 40px;
  text-align: left;
  color: rgba(13,24,58,.8);
  font-size: 16px;
  background-color: rgba(13,24,58,.04);
}
@media only screen and  (max-width: 400px){
  .cardTitle{
    font-size: 12px;
  }
}
.serviceText{
    display: block;
    color: #3c3757b3;
    font-size: 16px;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
@media only screen and  (max-width: 400px){
  .serviceText{
    font-size: 12px;
  }
}
.configureCss{
  font-size: 24px;
  color: #ffffff;
  text-align: left;
  line-height: 38px;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  margin: 35px;
  margin-left: 0px;
}
@media only screen and  (max-width: 770px){
#Configure{
display: none;
}
}
@media only screen and  (max-width: 770px){
  .configureCss{
    font-size: 20px;
    margin: 0px;
    margin-bottom: 20px;
    text-align: center;
  }
}
.assignModalBody{
  background-color: #ffffff;
}
.confBgCss{
  /* background-color: #a8daff; */
  background-color:#117a8bab;
  padding: 150px 0;
}
.userCaseTabs{
  background-color:#46ff000d;
  padding: 150px 0;
}
.serviceBgCss{
  background-color: #ffffff;
  padding: 150px 0;
}
.workBgcss{
  /* background-color: #FDD500; */
  background-color: #00fff814;
  /* linear-gradient(#a7b8d8, #e6e6e6) */
  padding: 150px 0;
}
.modal-content{
  border-radius: 20px;
}
.dashBordcss{
  background-color: #f7fbfe;
  padding: 100px 0 100px 0px;
}
.peopleBg{
  background-color: #ffffff;
  margin: 150px 0;
}
/* .padd{
  padding-left: 7px;
  padding-right: 7px;
} */
.paddingtwo{
  padding-left: 2px;
  padding-right: 2px;
}
.loginText{
  text-align: left;
  color: #1e223d;
  margin-bottom: 50px;
  font-weight: 400;
}
.login-input{
  width: 285px;
    height: 50px;
    padding-left: 10px;
    font-size: 15px;
    background: #ffffff;
    border: 1px solid #ccc;
    border-radius: 4px;
}
@media only screen and  (max-width: 400px){
  .login-input{
  width: 195px;
  height: 35px;
  }
}

@media only screen and  (max-width: 770px){
.masterTab{
  overflow-x: scroll;
}
}
.peopleCss{
  padding-left: 15px;
  color: #1e223d;
  margin-bottom: 20px;
  margin-top: 20px;
  max-width: 600px;
  font-size: 30px;
  font-family: Inter, sans-serif;
  font-weight: 500;
}
.peopleName{
  font-size: 20px;
  color: #1e223d;
  font-weight: 500;
}
.ComName{
  color: #9253af;
}
@media only screen and  (max-width: 1279px){
  .people_list{
    overflow-x:scroll
  }
}
.people_list{
  flex-wrap: wrap;
  padding: 15px 0;
  list-style-type: none;
  margin: 0;
  /* padding: 15px; */
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
}
.people_list li{
  width: 450px;
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
}
.people_list li.open{
  position: relative;
  z-index: 1 !important;
}
.people{
  box-shadow: none;
  border: 1px solid #f5f5f5;
  padding: 0px;
  height: 100%;
}
.people figure{
  margin: 0;
  max-width: 210px;
  flex-shrink: 0;
}
.people li {
  padding: 15px;
  width: 245px;
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
}
.people img{
  border-radius: 5px;
    /* max-height: 100%; */
    width: 200px;
    height: 200px;
}
.padd{
  padding: 10px;
}
.grid-container-config{
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-gap: 10px;
}
.grid-item-config{
  /* border: 1px solid #1e223d; */
  text-align: center;
    font-size: 10px;
    width: 100%;
    text-align: left;
    /* text-overflow: ellipsis; */
    font-family: Heebo;
    cursor: pointer;
    /* word-break: break-all;
    overflow: hidden;
    white-space: nowrap; */
    /* height: 250px; */
    margin-top: 80px;
}
.clentHeading-config{
  font-size: 14px;
  /* font-family: 'Heebo'; */
  padding: 5px;
  color: #fff;
  background-color: #1e223d;
}
.clent-config{
  font-size: 16px;
    margin: 0px 0px 15px 5px;
    font-weight: 400;
    line-height: 28px;
    text-overflow:ellipsis;
    overflow: visible;
    white-space: normal;
    list-style: none;
    color: #1e223d !important;
    box-sizing:border-box;
    word-wrap: normal;
    word-break:break-word;
  }
/* .clent-config:hover{
  overflow: visible;
    white-space: normal;
    height: auto;
} */
#UseCases{
  filter: blur(1px);
}

.boxContaint{
  font-size: 14px;
  color: #ffffff;
  /* border: 1px solid; */
  margin: 10px;
  text-align: center;
  background-color: #1e223d;
  width: 150px;
  height: 80px;
  margin-left: auto;
  padding: 10px;
  margin-right: auto;
  border-radius: 0px 20px;
}
@media only screen and (max-width: 1000px){
  .boxContaint{
  font-size: 12px;
  width: 130px;
  }
}
@media only screen and (max-width: 1000px){
  .boxContaint{
  font-size: 14px;
  width: 150px;
  }
}
@media only screen and (max-width: 440px){
  .boxContaint{
  font-size: 12px;
  width: 130px;
  }
}
@media only screen and (max-width: 400px){
  .boxContaint{
  font-size: 11px;
  width: 100px;
  padding: 8px;
  }
}
@media only screen and (max-width: 400px){
.userPaddReomve{
  padding: 0px;
}
}
.companyDetails{
  font-size: 20px;
  color: #1e223d;
  /* font-weight: 500; */
  font-family: Inter, sans-serif;
  line-height: 1.4;
  text-align: left;
}
.configBox{
  /* background-color: #e3e3e3; */
  background-color:#ffffff;
  padding: 20px;
  border-radius: 15px;
}
.cancelModal{
  font-size: 20px;
  float: right;
  font-weight: bolder;
}
.peopleBox{
  padding: 6px;
  position: relative;
  pointer-events: none;
  width: 440px;
}
@media only screen and (min-width: 1280px){
.peopleBox{
  /* width: 200px; */
height: 213px;
  position: absolute;
  background-color: #fff;
  border-radius: 5px;
  left: 1px;
  top: 1px;
  bottom: 1px;
  right: 0;
  /* z-index: 0; */
  display: none;
  box-shadow: 0px 0px 61px -2px rgba(0, 0, 0, 0.27);
  /* -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; */
}
}
.peopleBox figure{
  display: none;
}
@media only screen and (min-width: 1280px){
.peopleBox figure{
  display: block;
}
}
.peopleBox::after{
  content: '';
    /* background: url(../images/quotes.svg) no-repeat 0 0; */
    background-size: cover;
    display: block;
    width: 40px;
    height: 30px;
    position: absolute;
    right: 10px;
    top: 10px;
}
.peopleBox:hover{
  /* transition-delay: 1s;
  transition-property: flex; */
  transition-property: flex;
  transition-duration: 2s;
  transition-delay: 0.2s;
  width: 440px;
  display: flex;
  padding: 10px;
  opacity: 1;
  z-index: 1;
}
.userConfiigure{
  margin-top: 50px;
}
label{
  display: inline-block;
    margin-bottom: .5rem;
    font-size: 12px;
    letter-spacing: -1px;
    color: #1e223dab;
}
.center{
  text-align: center;
  padding-left: 5px;
  padding-right: 5px;
}
.lableAlign{
  font-size: 11px;
    float: left;
}
/* .testcolor{
  background-color: #10c6a3;
  height: 250px;
} */
.colorWhite{
  color: #ffffff;
  margin-right: 10px;
}
.colorblack{
  color: #000;
  margin-right: 10px;
}
.reeferText{
  /* background-color: #f4b548; */
  height: 100%;
  border-left:4px solid #f4b548;
  height: 100%;
  padding-left: 4%;
  margin-left: 12%;
  padding-top: 6%;
}
@media only screen and (max-width: 770px){
  .reeferText{
    margin-left: 0%;
    margin-top: 5%;
  }
  }
.coldText{
  /* background-color: #9253af96; */
  height: 100%;
  border-left:4px solid #b53acd;
  height: 100%;
  padding-left: 4%;
  margin-left: 12%;
  padding-top: 6%;
}
@media only screen and (max-width: 770px){
  .coldText{
    margin-left: 0%;
    margin-top: 5%;
  }
  }
.milkText{
  /* background-color: #9253af96; */
  border-left:4px solid #00b9b5;
  height: 100%;
  padding-left: 4%;
  margin-left: 12%;
  padding-top: 6%;
}
@media only screen and (max-width: 770px){
  .milkText{
    margin-left: 0%;
    margin-top: 5%;
  }
  }
.deviceName{
  font-size: 14px;
  font-weight: 400;
}
@media only screen and (min-width: 1280px){
.peopleInfo{
  width: 220px;
  color: #808080;
    margin: 10px 10px 10px 20px;
}
}
.peopleNam{
  display: block;
    font-weight: 500;
    font-size: 20px;
}
.peopleDec{
  display: block;
    position: relative;
    margin-bottom: 15px;
    font-size: 16px;
    color: #1e223d;
    font-weight: 400;
}

.dashBordStyle{
  border: 10px solid #222222;
  border-radius: 33px; 
  padding: 25px;
  /* border-top-left-radius: 30px;
  border-top-right-radius: 30px; */
}
@media only screen and (max-width: 1280px){
  .dashBordStyle{
    padding: 15px;
  }
}
.field-name-active{
  color: #ffffff;
    font-size: 14px;
    /* width: 83px; */
    background: #36a2eb;
    /* margin-left: 9px; */
    text-align: center;
    border-radius: 5px;
}
.dashBoardTab{
  padding: 5px;
  border: 1px solid black;
  margin: 25px;
  font-size: 14px;
  border-radius: 10px;
}
.field-data-active{
  color: #36a2eb;
    font-size: 24px;
    font-weight: 500;
    text-align: center;
}
.desc{
  font-size: 16px;
  color: #808080;
  text-align: left;
}
.alignCenter{
  text-align: center;
  padding-top: 100px;
}
[data-aos][data-aos][data-aos-delay="300"].aos-animate, body[data-aos-delay="300"] [data-aos].aos-animate{
  transition-delay:.3s;
}
[data-aos^=fade][data-aos^=fade].aos-animate{
  opacity: 1;
  transform: translateZ(0);
}
.open{
  position: relative;
  z-index: 1 !important;
}
.leftSide{
  flex-direction: row-reverse;
    left: auto;
}
/* .people li.open{
  position: relative;
  z-index: 1 !important;
} */
.footerCss{
  background-color: #132047;
  padding: 70px 0px ;
}
.aboutHeading{
font-size: 18px;
color: #ffffff;
font-weight: 400;
}
.aboutSubHeading{
  font-size: 18px;
  color: #ffffff;
  font-weight: 400;

}
.clickBut{
  background-color: #1e223d;
  color: #ffffff;
  padding: 10px 20px;
  font-size: 14px;
  /* border: 2px solid black; */
  border-radius: 7px;
  margin: 20px;
}
.react-tabs__tab {
  display: inline-block;
  border: 1px solid transparent;
  border-bottom: none;
  bottom: -1px;
  position: relative;
  list-style: none;
  padding: 6px 12px;
  margin-right: 50px;
  cursor: pointer;
  color:#1e223d;
  background: #ffffff;
}
.react-tabs__tab--selected {
  background: #1e223d;
  border-color: #1e223d;
  color: #ffffff;
  border-radius: 5px 5px 0 0;
}
.loginBut{
  width: 100px;
  font-size: 20px;
  border-color: #1e223d;
  color: #ffffff;
  padding: 5px 20px;
  background: #1e223d;
  border: 1px solid #1e223d;
  border-radius: 5px;
  margin-top: 25px;
}
.LogInHead{
  text-align: center;
  height: 600px;
  padding-top: 20px;
}
.hegithConfig{
  height: 600px;
  /* padding-top: 20px; */
}
.heightAdjust{
  height: 400px;

}
.dashboardHeight{
  height: 500px;
  overflow: auto;
}
.sites{
  font-size: 24px;
  text-align: left;
  color: #1e223d;
  padding-left: 20px;
  margin: 0px;
}
.alertBut{
  float: right;
  margin-right: 10px;
  font-size: 12px;
}
.subTabone{
  font-size: 18px;
  color: #1e223d;
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
}
@media only screen and (max-width: 600px){
  .subTabone{
    font-size: 14px;
  }
}
.getBacktext{
  color: #000;
  font-size: 16px;
color: #24a029;
text-align: center;
margin-top: 15px;
}
.alertBoxCss{
  border: 1px solid #1e223d;
  text-align: left;
  padding: 10px;
  width: 1000px;
}
.alertBoxCss:hover{
  box-shadow:inset 0 0 6px 1px rgb(7, 3, 3)
}
.stepTwoTab{
  overflow-x: auto;
}
.mrbt{
  margin-bottom: 10px !important;
}
.card-title{
  margin-bottom: 5px;
}
.card-body{
  padding: 10px;  
    }
@media only screen and (max-width: 700px){
.card-title{
font-size: 15px;
}
}
@media only screen and (max-width: 700px){
  .card-body{
padding: 10px;  
  }
  }
  @media only screen and (max-width: 700px){
    .card-body{
  padding: 5px;  
    }
    }
@media only screen and (max-width: 1000px){
  .alertBoxCss{
    width:800px;
  }
  }
@media only screen and  (max-width: 770px){
  .alertBoxCss{
    width: 500px;
  }
  }
.tableBorder{
  text-align: center;
  width: 1000px;
  border: 1px solid #1e223d;
}

.siteText{
  color: #1e223d;
  font-size: 16px;
}
.marginAlign{
 padding-left: 10%;
 padding-right: 10%;
}
.siteNo{
  color: #1e223d;
  font-size: 40px;
  font-weight: 700;
  margin: 0px;
  font-family: serif;
  padding-bottom: 25px;
}
.total-icon{
  height: 40px;
  margin-top: 40%;
  margin-bottom: 12px;
  margin-left: auto;
  margin-right: auto;
}
.bgColor{
  background-color: #1e223d;
  margin: 0px;
  color: #fff !important;
}
.dashBoardRequest{
  text-align: end;
  margin: 10px 0px;
}
.gatewayHead{
  color: #ffffff;
  padding-top: 10px !important;
  padding-bottom: 9px !important;
  padding-left: 10px ;
  font-family: 'Rubik', sans-serif,Medium !important;
  font-size: 14px ;
}
@media only screen and  (max-width: 600px){
  .gatewayHead{
    font-size: 12px;
  }
  }
.gatewayText{
  color: #1e223d;
  padding-top: 10px !important;
  padding-bottom: 9px !important;
  padding-left: 10px !important;
  font-family: 'Rubik', sans-serif,Medium !important;
  font-size: 14px ;
}
@media only screen and  (max-width: 600px){
.gatewayText{
  font-size: 12px;
}
}
.checkBoxCss{
  height: 20px;
  width: 20px;
  outline: 1px solid #1e223d;
}
.checkBoxCssBig{
  height: 25px;
  width: 25px;
 margin: auto;
 outline: 2px solid #1e223d;
}
.headBorder{
  background-color: #1e223d;
  color: #ffffff;
  box-shadow: 0px 0px 61px -2px rgba(0, 0, 0, 0.27);
}
.shadow{
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.27);
}
.comLogo{
  color: #9253af;
  font-size: 30px;
  font-weight: 500;
}
.comLogo:hover{
  color: #9253af;
}
.textBorder{
  border: 1px solid #1e223d;
}
.laptopbottom{
  content: " ";
  position: absolute;
  /* bottom: -25px; */
  left: -10%;
  right: -10%;
  height: 25px;
  background-color: #9aa7b4;
  border-bottom-left-radius: 30%;
  border-bottom-right-radius: 30%;
}
.desttopNeck{
  content: " ";
  height: 40px;
  margin: 0px;
  width: 25%;
  margin-left: auto;
  margin-right: auto;
  background-color: #222222;
  /* border-bottom-left-radius: 30%;
  border-bottom-right-radius: 30%; */
}
.leftPlace{
  margin-left: auto;
}
.destopbottom{
  content: " ";
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  height: 25px;
  background-color: #222222;
  border-bottom-left-radius: 30%;
  border-bottom-right-radius: 30%;
}
.priceBackArrow{
  width: 60px !important;
  height: 50px;
  margin-left: 150px;
  margin-top: 20px;
  font-size: 50px;
  color: #363945;
}
@media only screen and (max-width: 900px){
  .priceBackArrow{
  margin-left: 85px;
  }
}
@media only screen and (max-width: 600px){
  .priceBackArrow{
  margin-left: 50px;
  }
}
@media only screen and (max-width: 500px){
  .priceBackArrow{
  margin-left: 30px;
  }
}
.pricingBox{
  padding-top: 24px;
  border: 1px solid #494f5c;
  width: 100%;
}
.priceCal{
  text-align: left;
  height: 56px;
    margin-bottom: 0;
    padding: 20px;
    border-style: solid;
    border-width: 1px;
    border-color: #1e1e1e26;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,.1);
    color: #1e1e1e;
    font-size: 20px;
    line-height: 20px;
}
.calculatePrice{
color: #000;
font-size: 24px;
text-align: left;
line-height:30px
}

.priceSite{
 font-size: 36px;
 line-height:40px;
 margin-top: 10px;
 color: #000;
}
.connect{
  font-size: 15px;
  letter-spacing: .3px;
  padding: 12px 25px;
  float: left;
  border-radius: 5px;
  background-color: #10c6a3;
  transition: background-color .2s ease;
  font-weight: 500;
  color: #fff;
  border: 0;
  line-height: inherit;
  cursor: pointer;
  margin: 50px;
}
.connectFormStyle{
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}
.totalPrice{
  color: #666;
font-size: 14px;
margin-top: 10px;
text-align: left;
}
.pricingTableService{
  /* display: flex; */
  -webkit-box-align: center;
  align-items: center;
  padding: 24px 40px;
  position: relative;
  padding-bottom: 0px;
  border-top:1px solid black;
}
@media only screen and (max-width: 770px){
  .pricingTableService{
  padding: 20px;
  }
}
@media only screen and (max-width: 500px){
  .pricingTableService{
  padding: 10px;
  }
}
.pricingTableService .paymentSchedule{
  padding: .3em 0;
  margin: 0;
  /* display: -webkit-box; */
  display: flex;
}
.pricingTableService .paymentSchedule li{
  list-style: none outside;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    color: #0d183a;
    position: relative;
    -webkit-box-pack: start;
    justify-content: flex-start;
    padding-right: 1.5em;
    padding-left: .5em;
    min-width: 5em;
    font-size: 16px;
}
@media only screen and (max-width: 500px){
  .pricingTableService .paymentSchedule li{
    font-size: 14px;
  }
}
.pricingTableService .paymentSchedule li a{
  background: 0 0;
  text-decoration: underline;
}
.pricingTableService .paymentSchedule li.active a{
  font-weight: 700;
  background-image: none;
  text-shadow: none;
  text-decoration: none;
  color: #0d183a;
}
.pricingTableService .paymentSchedule li:not(:first-child):not(:last-child):after{
  display: inline-block;
  content: '/';
  position: absolute;
  right: .6em;
  top: 0;
}
.pricing-table-service-price{
  margin-left: auto;
    text-align: right;
    line-height: 1.2;
    color: #0d183a;
}
.price{
  font-size: 18px;
  color: #000;
}
.colorRed{
  color: purple;
  font-size: 24px;
}
.pricing-table-service-price .price{
  font-size: 32px;
  font-weight: 500;
  color: #0d183a;
  margin: 0px;
}
@media only screen and (max-width: 770px){
  .pricing-table-service-price .price{
  font-size: 24px;
  }
}
@media only screen and (max-width: 400px){
  .pricing-table-service-price .price{
  font-size: 16px;
  }
}
.pricing-table-service-price .subtitle{
  padding: 2px;
  color: #0d183a;
}
.priceHead{
  font-size: 24px;
}
@media only screen and (max-width: 770px){
  .priceHead{
  font-size: 20px;
  padding: 0px;

  }
}
@media only screen and (max-width: 400px){
  .priceHead{
  font-size: 15px;
  padding: 0px;
  }
}
.pricingBox table{
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  margin: 0;
  width: 100%;
}
.pricingBox table tbody tr:nth-child(odd){
  background-color: rgba(13,24,58,.04);
}
.pricingBox table td, .pricingBox table th{
  padding: 10px 40px;
  text-align: left;
  color: rgba(13,24,58,.8);
  font-size: 16px;
}
@media only screen and (max-width: 600px){
  .pricingBox table td, .pricingBox table th{
    padding: 10px 20px;
  }
}
.discount{
  color: #0d183a66;
    font-size: 12px;
}
.customer{
  display: flex;
  background-color: #fafafa;
  /* margin-left: 21px; */
  border-radius: 3px;
  border: 1px solid lightgrey;
  cursor: pointer;
  margin-top: 4px;
}
.customerName{
  font-size: 12px;
    font-weight: 500;
    color: #1e223d;
    padding: 10px 15px 6px 13px;
    width: 85%;
    text-align: left;
}

.card-container {
  box-shadow: 0px 0px 8px 3px #2f72f74a;
  /* margin-left: 2.3%; */
  margin-top: 22px;
  background-color: white;
  padding-left: 3px;
  padding-right: 3px;
  /* padding-top: 3px; */
}
@media only screen and (max-width: 770px){
  .react-tabs__tab{
    margin-right: 0px;
    margin-top: 10px;
  }
  }
.row-margin{
  margin: 0;
  background: #ffffff;
}
.paddingRemove{
  padding: 0px;
}
.mapImg{
  height: 400px;
  width: 800px;
}
.name-spacing{
  text-align: center;
  padding-bottom: 30px !important;
  margin-top: 30px !important;
  font-size: 18px;
}
#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea,
#contact button[type="submit"] {
  font: 400 12px/16px "Roboto", Helvetica, Arial, sans-serif;
}

#contact {
  background: #ffffff;
  padding: 25px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

#contact h3 {
  display: block;
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 10px;
}

#contact h4 {
  margin: 5px 0 15px;
  display: block;
  font-size: 13px;
  font-weight: 400;
}

fieldset {
  border: medium none !important;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%;
}
.getStartBut:hover{
  color: #2f70f8;
  text-decoration: none;
}
#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea {
  width: 100%;
  border: 1px solid #ccc;
  background: #FFF;
  margin: 0 0 5px;
  padding: 10px;
}

#contact input[type="text"]:hover,
#contact input[type="email"]:hover,
#contact input[type="tel"]:hover,
#contact input[type="url"]:hover,
#contact textarea:hover {
  -webkit-transition: border-color 0.3s ease-in-out;
  -moz-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
  border: 1px solid #aaa;
}

#contact textarea {
  height: 100px;
  max-width: 100%;
  resize: none;
}

#contact button[type="submit"] {
  cursor: pointer;
  width: 100%;
  border: none;
  background: #4CAF50;
  color: #FFF;
  margin: 0 0 5px;
  padding: 10px;
  font-size: 15px;
}

#contact button[type="submit"]:hover {
  background: #43A047;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

.copyright {
  text-align: center;
}

#contact input:focus,
#contact textarea:focus {
  outline: 0;
  border: 1px solid #aaa;
}

::-webkit-input-placeholder {
  color: #888;
}

:-moz-placeholder {
  color: #888;
}

::-moz-placeholder {
  color: #888;
}

:-ms-input-placeholder {
  color: #888;
}
  /* KEYFRAME ANIMATIONS */
  
  @-webkit-keyframes gradbar {
      0% {
          background-position: 0% 50%
      }
      50% {
          background-position: 100% 50%
      }
      100% {
          background-position: 0% 50%
      }
  }
  
  @-moz-keyframes gradbar {
      0% {
          background-position: 0% 50%
      }
      50% {
          background-position: 100% 50%
      }
      100% {
          background-position: 0% 50%
      }
  }
  
  @keyframes gradbar {
      0% {
          background-position: 0% 50%
      }
      50% {
          background-position: 100% 50%
      }
      100% {
          background-position: 0% 50%
      }
  }
  
  /* Media Queries */
  
    /* Mobile Devices - Phones/Tablets */
  
  @media only screen and (max-width: 720px) { 
    .features {
      flex-direction: column;
      padding: 50px;
      padding-top: 120px;
    }
    
    /* MOBILE HEADINGS */
    
    h1 {
      font-size: 1.9rem;
    }
    
    h2 {
      font-size: 1rem;
    }
    
    p {
      font-size: 0.8rem;
    }
    
    /* MOBILE NAVIGATION */
       
    .navbar ul {
      display: flex;
      flex-direction: column;
      position: fixed;
      justify-content: start;
      top: 55px;
      left: 0px;
      background-color: #fff;
      width: 100%;
      height: calc(100vh - 55px);
      transform: translate(-101%);
      text-align: center;
      overflow: hidden;
    }
    
    .navbar li {
      padding: 15px;
    }
    
    .navbar li:first-child {
      margin-top: 50px;
    }
    @media only screen and (max-width: 720px) { 
      .navbar li:first-child {
       margin-top: 0px;
      }
    }
  
    .navbar li a {
      font-size: 1rem;
    }
    .navbar-nav li.active > a{
      font-weight: 900;
      border-bottom: 2px solid black;
    }
    .menu-toggle, .bar {
      display: block;
      cursor: pointer;
    }
    
    .mobile-nav {
    transform: translate(0%)!important;
  }
    
    /* SECTIONS */
    
    .headline {
      height: 20vh;
    }
      
    .feature-container p {
      margin-bottom: 25px;
    }
    
    .feature-container {
      margin-top: 20px;
    }
    
    .feature-container:nth-child(2) {
      order: -1;
    }
    
    /* SEARCH DISABLED ON MOBILE */
    
    #search-icon {
      display: none;
    }
    
    .search-input {
    display: none;
   }
    
  }
  @media only screen and (max-width: 500px) { 
    .features {
      flex-direction: column;
      padding: 25px;
      padding-top: 50px;
    }
  }

  /* new application */

  .navbutt{
    font-size: 15px;
    color: #2f70f8;
    /* background-color: #225aff; */
    width: auto;
    /* border-radius: 25px; */
    /* outline: none; */
    /* padding: 10px 15px; */
    font-weight: 500;
    /* border: 1px solid #225aff; */
    border-bottom: 2px solid #2f70f8;
}
.navbutt :hover{
  text-decoration: none;
}
.firstSectionBg{
  background: #eef5ff;
  padding: 170px 0px;
  padding-bottom: 0px;
}
.firstSectionSubBg{
  background-color: transparent;
  height: 80px;
  background-image: linear-gradient(180deg,#eef5ff 0%,#ffffff 100%);
}
.firstSectionText{
  color: #132047;
  margin-top: 5%;
  font-size: 24px;
  line-height: 48px;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  text-align: left;
  margin-left: auto;
  margin-right: auto;

}
.firstSectionTextSub{
  font-size: 16px;
  color: #2f70f8;
}
.firstSectionLink{
  font-size: 18px;
  /* text-decoration: underline; */
  cursor: pointer;
  /* color: #132047; */

}
.firstSectionImg{
  /* width: 225px; */
  width: 100%;
  height: 225px;
  margin-top: 5%;
  /* border-radius: 20px; */
  /* box-shadow:0px 4px 4px rgb(0 0 0 / 25%); */
}
.firstSectionImgText{
  font-size: 18px;
  text-align: center;
  color: #132047;
  font-weight: 500;
  margin-top: 10px;
}
.firstSectionImgbelowText{
  color: #2f70f8;
  text-align: center;
  font-size: 35px;
}
.firstSectionImgbelowbox{
  background-color: #2f70f8;
  color: #ffffff;
  font-size: 22px;
  font-weight: 500;
  line-height: 30px;
  padding: 30px 60px;
  letter-spacing: 2px;
  width: 1000px;
  text-decoration: none;
  /* box-shadow: 0 20px 50px rgba(0, 0, 0, 0.25); */
  margin-left: auto;
  margin-right: auto;
  margin-top: 12%;
  overflow: hidden;
}
.secondSectionBg{
  background-color: #ffffff00;
  padding-bottom: 35px;
}
.secondSectionSubBg{
  background-color: transparent;
  height: 80px;
  padding-top: 5px;
  background-image: linear-gradient(180deg,#fff 0%,#eef5fe 100%);
}
/* .paddingLeftNRight{
  padding:150px 45px;
} */
.secondSectionText{
  position: absolute;
  top: 275px;
  font-size: 26px;
  width: 559px;
  line-height: 31px;
  font-weight: bold;
  color: #000;
  text-align: left;
  /* padding-top: 275px; */
  padding-left: 50px;
}
/* .secondSectionDashboardImg{
  position: absolute;
  top: 158px;
  /* margin-top: 158px;
  width: 741px;
  height: 354px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 10px;
} */
/* .secondSectionDashboardDownImg{
  position: absolute;
  top: 368px;
  left: 220px;
  width: 567px;
  height: 237px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 10px;
} */
.thirdectionDashboardImg{
  position: absolute;
  top: 765px;
  /* margin-top: 158px; */
  width: 883px;
  height: 347px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 10px;
  margin-left: 50px;
}
.thirdSectionDashboardDownImg{
  position: absolute;
  top: 1043px;
  left: 264px;
  width: 642px;
  height: 180px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 10px;
  margin-left: 50px;

}
.thirdSectionText{
  position: absolute;
  top: 894px;
  left: 100px;
  font-size: 26px;
  width: 488px;
  line-height: 31px;
  font-weight: bold;
  color: #000;
  text-align: left;
}
.fourthSectionText{
  position: absolute;
  top: 1665px;
  left: 100px;
  font-size: 26px;
  width: 415px;
  line-height: 31px;
  font-weight: bold;
  color: #000;
  text-align: left;
}
.fourthSectionDashboardImg{
  position: absolute;
  top: 1523px;
  /* left: 264px; */
  width: 787px;
  height: 358px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 10px;
  /* margin-left: 50px; */
}
.fourthSectionDashboardDownImg{
  position: absolute;
  top: 1758px;
  left: 190px;
  width: 635px;
  height: 175px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 10px;
  /* margin-left: 50px; */
}
.thirdSectionBg{
  /* background-color: #132047; */
  background-color: #eef5fe;
  padding-top: 100px;
  
}
.thirdSectionSubBg{
  /* padding: 80px 0px; */
  height: 80px;
  background-color: transparent;
  background-image: linear-gradient(180deg,#eef5fe 0%,#f8f9fd 100%);
}
.cardBox{
  width: 475px;
  height: 175px;
  background: #FFFFFF;
  mix-blend-mode: normal;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 55px;
  padding: 20px 50px;
  padding-right: 10PX;
}
.cardBoxHead{
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 40px;
  color: #132047;
}
.cardBoxSubHead{
  font-size: 18px;
  font-style: normal;
  font-weight: normal;
  padding-left: 20PX;
  color: #132047;

}
.cardsBut{
  background-color: #007bff;
  color: #fff;
  border-radius: 30px;
  width: 300px;
  /* height: 69px; */
  padding: 10px;
  font-size: 18px;
  font-weight: 500;
  border: 1px solid #007bff;
  cursor: pointer;
  margin-top: 5%;
}
.fourthSectionBg{
  background-color: #f8f9fd;
  padding:50px;
  /* padding-bottom: 100px; */
}
.fourthSectionSubBg{
  background-color: transparent;
  background-image: linear-gradient(180deg,#f8f9fd 0%,#ffffff 100%);
}
.milkChillerImgBox{
  margin-left: auto;
  float: right; 
}
.milkChillerImg{
  /* width: 620px; */
  height: 420px;
  border-radius: 20px 0px 0px 20px;
  box-shadow:4px 4px 4px rgb(0 0 0 / 25%);
}
.milkChillerImgTextBox{
  /* width: 687px; */
  height: 520px;
  background: #fff;
  border-radius: 0px 20px 20px 0px;
  margin-right: auto;
  box-shadow:4px 4px 4px rgb(0 0 0 / 25%);
}
.milkChillerImgText{
   /* width: 619px; */
  /* height: 490px; */
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 35px;
  color: #132047;
  padding:15px 27px 0px 41px;
  text-align: left;
}
.coldStorageRoomImgBox{
  width: 620px;
  height: 520px;
  background: #fff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px 0px 0px 20px;
  margin-left: auto;
  margin-top: 100px;
  text-align: center;
}
.coldStorageRoomImg{
  width: 466px;
  height: 290px;
}
.refrigeratorsRoomImg{
  /* width: 381px; */
  height: 200px;
  /* margin-left: 47px; */
  transform: matrix(-1, 0, 0, 1, 0, 0);
}
.coldStorageRoomImgText{
  /* width: 687px; */
  height: 520px;
  font-weight: normal;
  background: #fff;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 0px 20px 20px 0px;
  margin-right: auto;
  margin-top: 100px;
}
.coldStorageRoomText{
  padding: 15px 27px 10px 41px;
  text-align: left;
  font-size: 18px;
  line-height: 35px;
  color: #132047;
}
.reeferImgBox{
  width: 620px;
  height: 520px;
  background: #fff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px 0px 0px 20px;
  margin-left: auto;
  margin-top: 100px;
  padding: 10px 80px;
}
.reeferImgText{
  /* width: 687px; */
  height: 520px;
  font-weight: normal;
  font-size: 18px;
  line-height: 35px;
  background: #fff;
  box-shadow:4px 4px 4px rgb(0 0 0 / 25%);
  border-radius: 0px 20px 20px 0px;
  margin-right: auto;
  margin-top: 100px;
}
.reeferImgImg{
  width: 54%;
  height: 295px; 
}
.reeferfirstImgText{
  padding: 15px 27px 70px 41px;
  /* height: 490px; */
  text-align: left;
  color: #132047;
  line-height: 35px;
}
.reeferSecondImgImg{
  width: 65%;
  height: 200px;
}
.leanMoreBut{
  width: 220px;
  background-color: #4C7287;
  border-radius: 20px;
  font-size: 14px;
  height: 44px;
}
.useCaseBut{
  background: #2f70f8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-top: 120px;
  margin-bottom: 30px;
  padding: 7px 15px;
  border-radius: 30px;
  color: #fff;
  border: 1px solid #2f70f8;
  font-size: 18px;
  font-weight: 500;
  font-style: normal;
  cursor: pointer;
}
.fifthSectionBg{
  background-color:#ffffff;
  /* padding-bottom: 100px; */
  padding: 100px 0px;
}
.fifthSectionSubBg{
  background-color: transparent;
  height: 100px;
  background-image: linear-gradient(180deg,#ffffff 0%,#eef5fe 100%);
}
.fifthSectionText{
  /* width: 950px; */
/* height: 601px; */
font-weight:400;
font-size: 20px;
line-height: 32px;
color: #fff;
margin-left: auto;
margin-right: auto;
margin-top: 100px;
/* padding: 50px; */
font-style: normal;
margin: 100px 50px 100px 100px;
}
.fifththSectionTextHead{
  display: block;
  font-size: 28px;
  font-weight: 500;
  margin-bottom:20px;
}
.fifthSectionTextSub{
  display: block;
  margin-top: 20px;
}
.fidthSectionBut{
  width: 80%;
/* height: 75px; */
padding: 15px;
background: #132047;
border: 1px solid #132047;
box-sizing: border-box;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 10px;
margin-top: 60px;
color: #ffffff;
font-size: 18px;
font-weight: 500;
}
.sixthSectionBg{
background: #eef5fe;
padding-bottom: 50px
}
.sixthSectionSubBg{
  background-color: transparent;
  background-image: linear-gradient(180deg,#eef5fe 0%,#ffffff 100%);
}
.sixthquote{
  width: 674px;
font-style: normal;
font-weight: normal;
font-size: 25px;
line-height: 38px;
color: #216B70;
margin-left: auto;
margin-right: auto;
margin-top: 55px;
}
.sixthSecondquote{
  /* width: 1250px; */
height: 159px;
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 53px;
color: #132047;
margin-left: auto;
margin-right: auto;
margin-top: 70px;
margin-bottom: 50px;
}
.sixthButOne{
  width: 272px;
height: 115px;
background: #639e77;
border: 1px solid #639e77;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 5px;
color: #fff;
margin: 60px 0px ;
}
.sixthButTwo{
  width: 272px;
height: 115px;
background: #6c6281;
border: 1px solid #6c6281;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 5px;
color: #fff;
margin: 60px 0px ;
margin-top: 0px;
}
#contact{
  /* width: 852px; */
  border-radius: 15px;
}
.sevenSectionBg{
  padding-top: 80px;
  background-color: #fff;
}
.sevenSectionSubBg{
  background-color: transparent;
  background-image: linear-gradient(180deg,#ffffff  0%,#eef5fe 100%);
}
.eighthSectionSubBg{
  /* background-color: transparent;
  background-image: linear-gradient(180deg,#eef5fe  0%,#a5ccff 100%); */
  background-color: #eef5fe;
}
.tryIdHeadText{
  text-align: center;
  font-size: 30px;
  color: #1e223d;
  margin-bottom: 30px;
}
.eighthSectionBg{
  background-color: #eef5fe;
  padding-top: 80px;
  padding-bottom: 80px;
}
.priceBox{
  width: 380px;
/* height: 276px; */
background: #ffffff;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 10px;
margin-left: auto;
margin-right: auto;
text-align: center;
padding: 10px 0px;
margin-bottom: 30px;
}
.priceSubBox{
  width: 380px;
/* height: 422px; */
background: #ffffff;
border-radius: 15px;
margin-left: auto;
margin-right: auto;
text-align: left;
padding: 20px;
font-style: normal;
}
.priceSubBoxText{
  color: #132047;
  text-align: left;
  font-style: normal;
  line-height: 38px;
  font-size: 22px;
  font-weight: 400;
}
.priceBoxHead{
  background: #132047;
  font-size: 24px;
  height: 78px;
  padding: 20px;
  color: #fff;
  font-weight: 500;
}

.priceBoxHeadText{
  font-size: 24px;
  padding-top: 50px;
  font-style: normal;
font-weight: 500;
color: #132047;
}
.signUpBut{
  width: 220px;
  height: 48px;
  background: #2f70f8;
  border: 1px solid #2f70f8;
  border-radius: 10px;
  margin-top: 25px;
  color: #fff;
}
.ninthSectionBg{
  background-color: #fff;
  /* padding-top: 150px;
  padding-bottom: 150px; */
}
.phaseBox{
  /* width: 1192px; */
/* height: 147px; */
/* background: #F9F8F8;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
/* border-radius: 15px; */
/* padding: 20px 70px; */
margin-left: auto;
margin-right: auto;
text-align: left;
}
.phaseHead{
  font-size: 20px;
  font-weight: 500;
  color: #132047;
}
.phaseBoxText{
  /* width: 1192px; */
/* height: 147px; */
background: #eef5fe;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 15px;
padding: 20px;
margin-left: auto;
margin-right: auto;
text-align: left;
color: #132047;
font-size: 20px;
font-weight: 400;
}
.phaseFirst{
  margin-left: auto;
  margin-right: auto;
  height: 50px;
  width: 1192px;
}
.lastBut{
  width: 472px;
  height: 81px;
  background: #0978f8;
  border: 1px solid #0978f8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  margin-top: 50px;
  color: #fff;
  font-weight: 500;
}
/* @media only screen and (max-width: 1600px){
  .secondSectionDashboardImg{
    left: 0px;
    width: 650px;
    height: 310px;
  }
}
@media only screen and (max-width: 1600px){
  .secondSectionDashboardDownImg{
    left: 160px;
    width: 535px;
    top: 340px;
    height: 230px;
  }
}
@media only screen and (max-width: 1400px){
  .secondSectionDashboardImg{
    left: 0px;
    width: 590px;
    height: 285px;
  }
}
@media only screen and (max-width: 1400px){
  .secondSectionDashboardDownImg{
    left: 108px;
    width: 518px;
    top: 318px;
    height: 210px;
  }
}
@media only screen and (max-width: 1300px){
  .secondSectionDashboardImg{
    left: 0px;
    width: 550px;
    height: 260px;
  }
}
@media only screen and (max-width: 1300px){
  .secondSectionDashboardDownImg{
    left: 95px;
    width: 495px;
    top: 308px;
    height: 210px;
  }
}
@media only screen and (max-width: 1200px){
  .secondSectionDashboardImg{
    left: 0px;
    width: 500px;
    height: 230px;
  }
}
@media only screen and (max-width: 1200px){
  .secondSectionDashboardDownImg{
    left: 90px;
    width: 450px;
    top: 290px;
    height: 180px;
  }
}
@media only screen and (max-width: 1050px){
  .secondSectionDashboardImg{
    left: 0px;
    width: 440px;
    height: 200px;
  }
}
@media only screen and (max-width: 1050px){
  .secondSectionDashboardDownImg{
    left: 90px;
    width: 380px;
    top: 275px;
    height: 165px;
  }
} 
@media only screen and (max-width: 950px){
  .secondSectionDashboardImg{
    left: -325px;
    top: 395px;
    width: 519px;
    height: 230px;
  }
}
@media only screen and (max-width: 950px){
  .secondSectionDashboardDownImg{
    left: -200px;
    top: 530px;
    width: 420px;
    height: 200px;
  }
} 
@media only screen and (max-width: 1200px){
.secondSectionText{
  top: 230px;
width: 510px;
}
}
@media only screen and (max-width: 1100px){
  .secondSectionText{
    top: 230px;
   width: 450px;
   font-size: 24px;
  }
  }
  @media only screen and (max-width: 950px){
    .secondSectionText{
      top: 230px;
      width: max-content;
     font-size: 24px;
     text-align: center;
    }
    }
@media only screen and (max-width: 850px){
      .secondSectionText{
       font-size: 21px;
     }
   } */
  /* @media only screen and (max-width: 770px){  
      .secondSectionDashboardImg{
        left: 70px;
        top: 395px;
        width: 550px;
        height: 240px;
      }
     }
@media only screen and (max-width: 770px){
      .secondSectionDashboardDownImg{
        left: -200px;
        top: 530px;
        width: 420px;
        height: 200px;
      }
     } */



.secondSectionpicText{
  /* position: absolute; */
  /* top: 275px; */
  font-size: 26px;
  /* width: 559px; */
  line-height: 31px;
  font-weight: bold;
  color: #000;
  text-align: left;
  padding-top: 275px;
  padding-left: 50px;
}
.secondSectionDashboardImg{
  margin-top: 158px;
  width: 741px;
  height: 354px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 10px;
}
.secondSectionDashboardDownImg{
  width: 567px;
  height: 237px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 10px;
  margin-top: -150px;
  margin-left: 220px;
}
.firstImgText{
  font-size: 18px;
  line-height: 35px;
  font-weight: 500;
  color: #132047;
  text-align: left;
  margin-top: 150px;
  font-style: normal;
}
@media only screen and (max-width: 740px){
  .firstImgText{
    margin-left: 10px;
    font-size: 18px;
    padding-left: 0px;
    margin-top: 50px;
    margin-bottom: 5px;
  }
} 
.firstImg{
  margin-top: 158px;
}
.secondImgText{
  font-size: 18px;
  line-height: 35px;
  font-weight: 500;
  color: #132047;
  text-align: left;
}
@media only screen and (max-width: 740px){
  .secondImgText{
    margin-left: 10px;
    font-size: 18px;
    margin-bottom: 5px;
  }
} 
.marginMid{
  margin-top: auto;
  margin-bottom: auto;
}
@media only screen and (max-width: 1000px){
  .marginMid{
    margin: 20px 0px;
  }
} 
.marginCenter{
  margin-left: auto;
  margin-right: auto;
}

.thiredImgText{
  font-size: 18px;
  line-height: 35px;
  font-weight: 500;
  color: #132047;
  text-align: left;
}
@media only screen and (max-width: 740px){
  .thiredImgText{
    margin-left: 10px;
    font-size: 18px;
    margin-bottom: 5px;
  }
} 
.containerSection{
  margin: 60px 200px;
}
@media only screen and (max-width: 1400px){
  .containerSection{
    margin: 60px 100px;
  }
} 
@media only screen and (max-width: 1100px){
  .containerSection{
    margin: 60px 80px;
  }
} 
@media only screen and (max-width: 770px){
  .containerSection{
    margin: 30px 50px;
  }
} 
@media only screen and (max-width: 770px){
  .secondImg{
    margin-left: 0px;
  }
} 
@media only screen and (max-width: 1200px){
  .firstSectionImg{
    width: 200px;
  }
} 
@media only screen and (max-width: 1100px){
  .firstSectionImg{
    width: 150px;
    height: 150px;
  }
}
@media only screen and (max-width: 850px){
  .firstSectionImg{
    width: 120px;
    height: 120px;
  }
}
@media only screen and (max-width: 760px){
  .firstSectionImg{
    width: 200px;
    height: 200px;  
  }
}
@media only screen and (max-width: 600px){
  .firstSectionImg{
    width: 150px;
    height: 150px;
  }
}
@media only screen and (max-width: 480px){
  .firstSectionImg{
    width: 100px;
    height: 100px;
  }
}
@media only screen and (max-width: 1100px){
  .firstSectionText{
  font-size: 20px;
  width: auto;
  }
} 
@media only screen and (max-width: 1100px){
  .cardBox{
  font-size: 20px;
  width: auto;
  height: 250px;
  margin: 10px;
  }
} 
@media only screen and (max-width: 770px){
  .cardBox{
  width: auto;
  height: auto;
  padding: 5px;
  }
} 
@media only screen and (max-width: 1400px){
  .milkChillerImg{
    /* width: 500px; */
    height: 500px;
  }
} 
@media only screen and (max-width: 1400px){
  .milkChillerImgTextBox{
    /* width: 500px; */
    height: 500px;
  }
}
@media only screen and (max-width: 1400px){
  .milkChillerImgText{
    width: auto;
    height: auto;
    font-size: 18px;
    line-height:30px
  }
}
@media only screen and (max-width: 1100px){
  .milkChillerImg{
    /* width: 400px; */
    height: 400px;
  }
} 
@media only screen and (max-width: 1100px){
  .milkChillerImgTextBox{
    /* width: 400px; */
    height: 400px;
  }
}
@media only screen and (max-width: 1100px){
  .milkChillerImgText{
    width: auto;
    height: auto;
    font-size: 16px;
    line-height:22px
  }
}
@media only screen and (max-width: 1100px){
  .milkChillerImg{
    /* width: 350px; */
    height: 350px;
  }
} 
@media only screen and (max-width: 1100px){
  .milkChillerImgTextBox{
    /* width: 350px; */
    height: 350px;
  }
}
@media only screen and (max-width: 1100px){
  .milkChillerImgText{
    width: auto;
    height: auto;
    font-size: 16px;
    line-height:17px
  }
}
@media only screen and (max-width: 800px){
  .fourthSectionBg{
    padding: 30px 30px;
  }
}
@media only screen and (max-width: 770px){
  .milkChillerImgBox{
    float: none;
  }
}
@media only screen and (max-width: 770px){
  .milkChillerImg{
    width: 100%;
    border-radius: 0px;
  }
}
@media only screen and (max-width: 770px){
  .milkChillerImgBox{
    float: none;
  }
}
@media only screen and (max-width: 770px){
  .milkChillerImgTextBox{
  width: 100%;
  }
}
@media only screen and (max-width: 770px){
  .milkChillerImgText{
    width: auto;
    height: auto;
    font-size: 20px;
    line-height:25px;
    padding: 10px;
    border-radius: 0px;
    font-size: 16px;
  }
}
@media only screen and (max-width: 770px){
.milkChillerImgTextBox{
height: auto;
}
}

/* @media only screen and (max-width: 770px){
  .coldStorageRoomImgBox{
    float: none;
  }
}
@media only screen and (max-width: 770px){
  .coldStorageRoomImgBox{
    float: none;
  }
} */
@media only screen and (max-width: 1400px){
  .coldStorageRoomImgBox{
    /* width: 500px; */
    height: 520px;
  }
}
@media only screen and (max-width: 1400px){
  .coldStorageRoomImgText{
    width: auto;
    height: 520px;
  }
}
@media only screen and (max-width: 1400px){
  .coldStorageRoomText{
  font-size: 18px;
  line-height: 30px;
  width: auto;
  
  }
}
@media only screen and (max-width: 1100px){
  .coldStorageRoomImgBox{
    /* width: 350px; */
    height: 620px;
  }
}
@media only screen and (max-width: 1100px){
  .coldStorageRoomImgText{
    width: auto;
    height: 620px;
  }
}
@media only screen and (max-width: 1100px){
  .coldStorageRoomText{
  line-height: 27px;
  width: auto;
  }
}
@media only screen and (max-width: 770px){
  .coldStorageRoomText{
 padding: 10px;
 font-size: 16px;
  }
}
@media only screen and (max-width: 1100px){
  .coldStorageRoomImg{
  font-size: 16px;
  line-height: 27px;
  width: auto;
  }
}
@media only screen and (max-width: 1100px){
  .refrigeratorsRoomImg{
  width: 320px;
  margin-left: 10px;
  }
}
@media only screen and (max-width: 500px){
  .refrigeratorsRoomImg{
  width:285px;
  }
}
@media only screen and (max-width: 770px){
  .coldStorageRoomImgBox{
  width: 100%;
  float: left;
  border-radius: 0px;
  }
}
@media only screen and (max-width: 770px){
  .coldStorageRoomImgText{
  width: 100%;
  float: left;
  /* margin-left: 10px; */
  border-radius: 0px;
  margin-top: 0px;
  height: auto;
  }
}
@media only screen and (max-width: 1400px){
  .reeferImgBox{
    /* width: 500px; */
    height: 570px;
  }
}
@media only screen and (max-width: 1400px){
  .reeferImgText{
    width: auto;
    height: 570px;
  }
}
@media only screen and (max-width: 1400px){
  .reeferfirstImgText{
  font-size: 18px;
  line-height: 30px;
  width: auto;
  
  }
}

@media only screen and (max-width: 1100px){
  .reeferImgBox{
    /* width: 350px; */
    height: 570px;
  }
}
@media only screen and (max-width: 1100px){
  .reeferImgText{
    width: auto;
    height: 570px;
  }
}
@media only screen and (max-width: 1100px){
  .reeferfirstImgText{
  line-height: 27px;
  width: auto;
  }
}
@media only screen and (max-width: 770px){
  .reeferfirstImgText{
  padding: 10px;
  font-size: 16px;
  }
}
@media only screen and (max-width: 770px){
  .reeferImgBox{
  width: 100%;
  float: left;
  border-radius:0px
  }
}
@media only screen and (max-width: 770px){
  .reeferImgText{
  width: 100%;
  float: left;
height: auto;
  margin-top: 0px;
  border-radius: 0px;
  }
}

@media only screen and (max-width: 600px){
  .cardsBut{
  width: auto;
  padding: 10px 25px;
  font-size: 15px;
  margin-top: 50px;
  }
}

@media only screen and (max-width: 600px){
  .useCaseBut{
  width: auto;
  padding:7px 20px;
  font-size: 14px;
  height: auto;
  margin-top: 50px;
  }
}
@media only screen and (max-width: 900px){
  .fifthSectionText{
  width: auto;
  margin: 30px;
  font-size: 17px;
  }
}
@media only screen and (max-width: 900px){
  .fidthSectionBut{
  width: 85%;
  padding: 6px;
  font-size: 16px;
  }
}
@media only screen and (max-width: 740px){
  .fidthSectionBut{
  /* width: -webkit-fill-available; */
  padding:7px 15px;
  font-size: 15px;
  margin: 10px;
  height: auto;
  }
}
@media only screen and (max-width: 500px){
  .fidthSectionBut{
  padding:7px;
  font-size: 12px;
  height: 50px;
  }
}
@media only screen and (max-width: 1300px){
  .sixthSecondquote{
  width: auto;
  height: auto;
  /* padding: 0px 100px; */
  font-size: 24px;
  }
}
@media only screen and (max-width: 600px){
  .sixthSecondquote{
 font-size: 17px;
 line-height: 40px;
 margin-top: 20px;
  }
}
@media only screen and (max-width: 1300px){
  .sixthButOne{
  margin: 20px;
width: -webkit-fill-available;  
}
}
@media only screen and (max-width: 1300px){
  .sixthButTwo{
    margin: 20px;
    width: -webkit-fill-available;  
  }
}
@media only screen and (max-width: 1000px){
  .sixthButOne{
    /* width: auto; */
  margin:20px 0px;
  height: 90px;
font-size: 16px;
  }
}
@media only screen and (max-width: 1000px){
  .sixthButTwo{
    /* width: auto; */
    height: 90px;
  margin:20px 0px;
font-size: 16px;
  }
}
@media only screen and (max-width: 900px){
  .sixthButOne{
    /* width: 220px; */
  margin:20px 0px;
  height: 70px;
font-size: 20px;
  }
}
@media only screen and (max-width: 900px){
  .sixthButTwo{
    /* width: 220px; */
    height: 70px;
  margin:20px 0px;
font-size: 20px;
  }
}
@media only screen and (max-width: 740px){
  .sixthButOne{
    width: -webkit-fill-available;
  /* margin: 40px; */
  height: 70px;
font-size: 16px;
  }
}
@media only screen and (max-width: 740px){
  .sixthButTwo{
    width: -webkit-fill-available;
    height: 70px;
  /* margin: 10px; */
font-size: 16px;
  }
}
@media only screen and (max-width: 1300px){
  #contact{
  width: auto !important;
  margin-left: auto;
  margin-right: auto;
  }
}
@media only screen and (max-width: 1200px){
  #contact{
  width: 500px;
  }
}
@media only screen and (max-width: 800px){
  #contact{
  width: 400px;
  }
}
@media only screen and (max-width: 740px){
  #contact{
  width: auto;
  }
}

@media only screen and (max-width: 900px){
  .sixthquote{
    width: auto;
  }
}
@media only screen and (max-width: 740px){
  .sixthquote{
    width: auto;
    font-size: 19px;
    line-height: 34px;
    margin-top: 45px;
  }
}
@media only screen and (max-width: 900px){
  .priceBox{
    width: 340px;
  }
}

@media only screen and (max-width: 900px){
  .priceSubBox{
    width: 340px;
    font-size: 21px;
  }
}
@media only screen and (max-width: 600px){
  .priceSubBox{
    width: auto;
    font-size: 21px;
  }
}
@media only screen and (max-width: 1200px){
  .phaseBox{
    width: auto;
  }
}
@media only screen and (max-width: 1200px){
  .phaseBoxText{
    width: auto;
    margin: 20px;
    font-size: 19px;
  }
}
@media only screen and (max-width: 600px){
  .phaseBoxText{
  padding: 20px;
    font-size: 16px;
    margin: 0px;
  }
}
@media only screen and (max-width: 600px){
  .priceBox{
    width: auto;
    margin-top: 20px;
  }
}

@media only screen and (max-width: 600px){
  .lastBut{
    width: auto;
    padding: 20px;
    font-size: 21px;
    height: auto;
  }
}
@media only screen and (max-width: 450px){
  .lastBut{
    width: auto;
    padding: 20px;
    margin: 10px;
    font-size: 15px;
  }
}
.faqCss{
  font-size: 18px;
font-weight: 400;
line-height: 30px;
}
.faqtextBoxCss{
  margin-top: 100px;
  border-radius: 10px; 
}
.faqtextBoxButCss{
  padding: 10px 20px;
  font-size: 15px;
  border: 1px solid #143680;
  background: #143680;
  border-radius: 5px;
  color: #fff;
}
.benefitsHeadCss{
  color: #132047;
  /* background-color: #578153; */
  font-size: 24px;
  text-align: center;
  font-weight: 500;
}
.benefitsCss{
  font-size: 15px;
  font-weight: 400;
  /* line-height: 30px; */
  margin-bottom: 20px;
  background-color: #eef5fe;
  padding: 18px;
  border-radius: 10px;
  height: 100px;
  margin-left: 5px;
  margin-right: 5px;
}
.infew{
font-size: 20px;
font-weight: 500;

}
.watchVideo{
  color: #225aff;
  background-color: #f7faff;
  fill: #225aff;
  color: #225aff;
  background-color: #f7faff;
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #225aff;
  padding: 10px 30px;
  border-radius:50px;
}
.idealCustomer{
  font-weight: 500;
    color: #fff;
    background-color: #225aff;
    border: 1px solid #225aff;
    padding: 10px 30px;
  border-radius:50px;
}


@media only screen and (max-width: 1100px){
  .firstSectionImgbelowbox{
    width: 800px;
    padding: 20px;
    font-size: 21px;
    height: auto;
  }
}
@media only screen and (max-width: 850px){
  .firstSectionImgbelowbox{
    width: 600px;
    padding: 20px;
    font-size: 21px;
    height: auto;
  }
}
@media only screen and (max-width: 850px){
  .firstSectionImgbelowbox{
    width: fit-content;
    padding: 15px;
    font-size: 18px;
    height: auto;
  }
}
@media only screen and (max-width: 740px){
  .firstImg{
    margin-top:0px
  }
}
@media only screen and (max-width: 740px){
  .watchVideo{
    padding:7px 15px
  }
}
@media only screen and (max-width: 740px){
  .firstSectionLink{
    font-size: 15px;
  }
}
@media only screen and (max-width: 740px){
  .idealCustomer{
    padding:7px 15px;
    /* font-size: 15px; */
  }
}
.benefitsImg{
  height: 40px;
  width: 40px;
}
.PricingHead{
  font-size: 26px;
  color: #132047;
font-weight: 500;
}
.customerCss{
  text-align: center;
 font-size: 24px;
 font-weight: 500;
 color: #132047;
  margin: 100px 0px; 
} 
.customerLogo{
  height: 85px;
}
.fidthSectionPoints{
  margin-top: 45px;
}
.statusBut{
  background: #2f70f8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  /* margin-top: 80px;
  margin-bottom: 30px; */
  padding: 7px 30px;
  border-radius: 30px;
  color: #fff;
  border: 1px solid #2f70f8;
  font-size: 18px;
  font-weight: 500;
  font-style: normal;
  cursor: pointer;
}
.colorCoding{
  display: flex;
}
.leftColor{
  width: 50%;
  background-color: #132047;
}
.rightColor{
  width:50%
}
@media only screen and (max-width: 740px){
  .colorCoding{
    display: block;
  }
}
@media only screen and (max-width: 740px){
  .leftColor{
    width: 100%;
    padding: 20px;
  }
}
@media only screen and (max-width: 740px){
  .rightColor{
    width: 100%;
    padding: 10px;
  }
}
.paddingRightChanges{
  padding-right: 0px;
}
.paddingLeftChanges{
  padding-left: 0px;
}
@media only screen and (max-width: 740px){
 .paddingLeftChanges{
    padding: 0px;
  }
}
@media only screen and (max-width: 740px){
  .paddingRightChanges{
     padding: 0px;
   }
 }
@media only screen and (max-width: 740px){
  .milkChillerImgTextBox{
    border-radius: 0px;
  }
}
@media only screen and (max-width: 500px){
  .reeferImgImg{
  width:auto; 
  }
 }
@media only screen and (max-width: 500px){
  .reeferSecondImgImg{
   width: auto;
  }
}
.modal-width{
  width: 700px;
  margin-top: '100px'
}
.modal-widthBig{
  width: 900px;
  margin-top: '100px'
}
@media only screen and (max-width: 700px){
  .modal-width{
    width: 400px;
  }
}
@media only screen and (max-width: 400px){
  .modal-width{
    width: 300px;
  }
}
@media only screen and (max-width: 1000px){
  .modal-widthBig{
    width: 700px;
    margin-left: 50px;
    margin-right: 50px;
  }
}
@media only screen and (max-width: 800px){
  .modal-widthBig{
    width: auto;
    margin-left: 30px;
    margin-right: 30px;
  }
}
 @media only screen and (max-width: 500px){
  .phaseHead{
    font-size: 15px;
  }
}
@media only screen and (max-width: 500px){
  .benefitsCss{
  padding: 15px 5px;
  font-size: 14px;
  }
}
.videoControl{
  width: 640px !important;
  height: 480px !important;
}
@media only screen and (max-width: 700px){
  .videoControl{
    width: 354px !important;
    height: auto !important;
  }
}
@media only screen and (max-width: 400px){
  .videoControl{
    width: 254px !important;
  }
}
.footerDemoBut{
  background-color: #2f70f8;
  padding:7px 20px;
  border: 1px solid #2f70f8;
  border-radius:30px;
  color: #ffffff;

}
.footerDemoButAlink{
  color: #ffffff;
  font-size: 16px;
}
.footerDemoButAlink:hover{
  color: #ffffff !important;
  text-decoration: none;
}
@media only screen and (max-width: 740px){
  .firstSectionBg{
  padding: 80px 0px;
  }
}
@media only screen and (max-width: 740px){
  .firstSectionSubBg{
    height: 0px;
  }
}
@media only screen and (max-width: 740px){
  .thirdSectionBg{
  padding-top: 0px;
  }
}
@media only screen and (max-width: 740px){
  .cardBoxSubHead{
    font-size: 16px;
  }
}
@media only screen and (max-width: 740px){
  .thirdSectionSubBg{
  height:40px ;
  }
}
@media only screen and (max-width: 740px){
  .fourthSectionBg{
  padding: 30px 10px;
  }
}
@media only screen and (max-width: 740px){
  .clent-config{
  font-size: 13px;
  }
}
@media only screen and (max-width: 740px){
  .customerCss{
  margin: 70px 0px;
  }
}
@media only screen and (max-width: 740px){
  .customerLogo{
 margin-bottom: 40px;
  }
}
@media only screen and (max-width: 740px){
  .fifthSectionText{
  margin: 10px;
  }
}
@media only screen and (max-width: 740px){
  .fifthSectionSubBg{
  height: 40px;
  }
}
@media only screen and (max-width: 740px){
  .eighthSectionBg{
  padding-top: 20px;
  }
} 
.eightHeadTag{
  text-align: center;
   margin-bottom: 60px;
}
@media only screen and (max-width: 740px){
  .eightHeadTag{
    margin-bottom: 35px;
  }
} 
@media only screen and (max-width: 740px){
  .priceSubBoxText{
    font-size: 18px;
  }
} 
@media only screen and (max-width: 740px){
  .priceBoxHeadText{
    font-size: 20px;
  }
} 
@media only screen and (max-width: 740px){
  .priceBoxHead{
    font-size: 21px;
  }
} 
@media only screen and (max-width: 740px){
  .secondSectionBg{
   padding-bottom: 15px;
  }
} 
@media only screen and (max-width: 740px){
  .secondSectionSubBg{
   height: 40px ;
  }
} 
@media only screen and (max-width: 450px){
  .cardBoxSubHead{
  font-size: 14px;
  }
} 
@media only screen and (max-width: 740px){
  .cardBoxHead{
  font-size: 18px;
  }
} 
@media only screen and (max-width: 740px){
  .userConfiigure{
  margin-top: 0px;
  }
} 
@media only screen and (max-width: 740px){
  .sevenSectionBg{
  padding: 0px;
  }
} 
@media only screen and (max-width: 740px){
  .sixthSectionBg{
    padding-bottom: 35px;
  }
} 
.heighAdjest{
  margin-top: 100px;
}
@media only screen and (max-width: 740px){
  .heighAdjest{
    margin-top: 35px;
  }
} 
.webButHideShow{
  display: block;
}
@media only screen and (max-width: 740px){
  .webButHideShow{
    display: none;
  }
} 
.moblieButHideShow{
  display: none;
}
@media only screen and (max-width: 740px){
  .moblieButHideShow{
    display: block;
  }
} 