/* .navbutt{
    font-size: 12px;
    color: #1e223d;
    background-color: #ABD3F8;
    width: 132px;
    height: 25px;
    border-radius: 8px;
    outline: none;
    border: 1px solid #ABD3F8;
} */
.page-wrapper {
    width: 100%;
    height: auto;
    background-color: #fdd749;
  }
  .page-wrapper:hover{
    background-color: #fff;
  }
  .nav-wrapper {
    width: 100%;
    position: -webkit-sticky; /* Safari */
    /* position: sticky; */
    top: 0;
    background-color: #343a40;
  }
  .grad-bar {
    width: 100%;
    height: 5px;
    background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
    background-size: 400% 400%;
        -webkit-animation: gradbar 15s ease infinite;
      -moz-animation: gradbar 15s ease infinite;
      animation: gradbar 15s ease infinite;
  }
  
  /* NAVIGATION */
  
  .navbar {
    /* display: grid; */
    grid-template-columns: 1fr 3fr;
    align-items: center;
    /* height: 50px; */
    overflow: hidden;
    background-color: #fff;
    font-family: 'Rubik', sans-serif;
  }
  .navbar img {
    height: 40px;
    width: auto;
    justify-self: start;
    margin-left: 20px;
  }
  
  .navbar ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    justify-self: end;
    width: 60%;
    text-align: center;
  }
  
  .nav-item a {
    color: #1e223d;
    font-size: 15px;
    font-weight: 500;
    text-decoration: none;
    transition: color 0.3s ease-out;
  }
  @media screen and (max-width: 1350px){
    .navbar ul{
      width: 55%;
  }
}
  @media screen and (max-width: 1100px){
    .nav-item a{
    font-size: 16px;
  }
}
@media screen and (max-width: 900px){
  .nav-item a{
    font-size: 13px;
  }
}
@media screen and (max-width: 800px){
  .nav-item a{
    font-size: 12px;
  }
}
.marginAlign{
    padding-left: 10%;
    padding-right: 10%;
   }
.comLogo{
    color: #9253af;
    font-size: 30px;
    font-weight: 500;
  }
  .comLogo:hover{
    color: #9253af;
  }
  .menu-toggle .bar{
    width: 25px;
    height: 3px;
    background-color: #3f3f3f;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  
  .menu-toggle {
    justify-self: end;
    margin-right: 25px;
    display: none;
  }
  
  .menu-toggle:hover{
    cursor: pointer;
  }
  .navbar li {
    padding: 15px;
  }
  
  .navbar li:first-child {
    margin-top: 50px;
  }
  
  .navbar li a {
    font-size: 1rem;
  }
  .navbar-nav li.active > a{
    font-weight: 900;
    border-bottom: 2px solid black;
  }
  .menu-toggle, .bar {
    display: block;
    cursor: pointer;
  }
  .mobile-nav {
    transform: translate(0%)!important;
  }
  #mobile-menu.is-active .bar:nth-child(2){
    opacity: 0;
  }
  
  #mobile-menu.is-active .bar:nth-child(1){
    -webkit-transform: translateY(8px) rotate(45deg);
    -ms-transform: translateY(8px) rotate(45deg);
    -o-transform: translateY(8px) rotate(45deg);
    transform: translateY(8px) rotate(45deg);
  }
  
  #mobile-menu.is-active .bar:nth-child(3){
    -webkit-transform: translateY(-8px) rotate(-45deg);
    -ms-transform: translateY(-8px) rotate(-45deg);
    -o-transform: translateY(-8px) rotate(-45deg);
    transform: translateY(-8px) rotate(-45deg);
  }
  